<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Dashboard</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="contentbar">
    <!-- Start row -->
    <div class="row">


        <div class="col-lg-6 col-xl-3" onclick="GoPage('users')">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-5">
                            <span class="action-icon badge badge-primary-inverse mr-0"><i class="feather icon-user"></i></span>
                        </div>
                        <div class="col-7 text-right">
                            <h5 class="card-title font-14">Students</h5>
                            <h4 class="mb-0">47</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <span class="font-13">Updated 5:6 Hours ago</span>
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-success"><i class="feather icon-trending-up mr-1"></i> 0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-xl-3" onclick="GoPage('scholarships')">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-5">
                            <span class="action-icon badge badge-success-inverse mr-0"><i class="feather icon-book"></i></span>
                        </div>
                        <div class="col-7 text-right">
                            <h5 class="card-title font-14">Scholarships</h5>
                            <h4 class="mb-0">357</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <span class="font-13">Updated 23 Minutes ago</span>
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-warning"><i class="feather icon-trending-down mr-1"></i> 0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3" onclick="GoPage('scholarship/applies')">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-5">
                            <span class="action-icon badge badge-warning-inverse mr-0"><i class="feather  icon-help-circle "></i></span>
                        </div>
                        <div class="col-7 text-right">
                            <h5 class="card-title font-14">Queries</h5>
                            <h4 class="mb-0">4</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <span class="font-13">Updated 26 Day ago</span>
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-success"><i class="feather icon-file-text mr-1"></i> 0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-xl-3" onclick="GoPage('blogs')">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-5">
                            <span class="action-icon badge badge-secondary-inverse mr-0"><i class="feather icon-book-open"></i></span>
                        </div>
                        <div class="col-7 text-right">
                            <h5 class="card-title font-14">Blogs</h5>
                            <h4 class="mb-0">9</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <span class="font-13">Updated 8 Day ago</span>
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-warning"><i class="feather icon-trending-down mr-1"></i> 0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>